html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Kievit;
  font-weight: 100;
  src: url("fonts/KievitWebPro-Light.woff") format("woff");
}
@font-face {
  font-family: Kievit;
  src: url("fonts/KievitWebPro.woff") format("woff");
}
@font-face {
  font-family: Kievit;
  font-weight: bold;
  src: url("fonts/KievitWebPro-Bold.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/OpenSans-Regular.woff2") format("woff2"), url("fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/OpenSans-SemiBold.woff2") format("woff2"), url("fonts/OpenSans-SemiBold.woff") format("woff");
}
a {
  color: #3d3c40;
  text-decoration: underline;
}

.button {
  background-color: #07c;
  border: 1px solid #07c;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 16px;
  margin: auto;
  padding: 8px 30px;
  text-decoration: none;
}
.button:hover {
  background-color: #246cb8;
  color: white;
}
.button:active {
  background-color: #07c;
}
.button:focus {
  outline: none;
}
.button--ghost {
  background-color: transparent;
  color: #07c;
}
.button--large {
  font-size: 22px;
  padding: 16px 100px;
}
.button--full {
  display: block;
  max-width: 100%;
  min-width: 178px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.button--white {
  background-color: white;
  border: solid 1px #e6eaeb;
  color: #3d3c40;
}
.button--white:hover {
  background-color: #f4f6f6;
}

#btn-continue {
  color: #07c;
}

#trackerNotification button {
  font-size: 0;
  padding: 7px 30px;
}

.section #btn-back {
  background-color: transparent;
  color: #07c;
  margin-top: 12px;
}
.section #btn-back:active {
  border-color: #1c5693;
  color: #1c5693;
}
.section #btn-back:hover {
  border-color: #246cb8;
  color: #246cb8;
}
.section #btn-back:focus {
  border-color: #07c;
  color: #07c;
}

.flex {
  display: flex;
}
.flex--col {
  flex-direction: column;
}
.flex--ac {
  align-items: center;
}
.flex--c {
  justify-content: center;
}
.flex--sb {
  justify-content: space-between;
}
.flex--se {
  justify-content: space-evenly;
}
.flex--g1 {
  flex-grow: 1;
}
.flex--b0 {
  flex-basis: 0;
}

.media {
  display: table;
  margin: auto;
}
.media__img, .media__body {
  display: table-cell;
  vertical-align: middle;
}
.media__img {
  padding-right: 1rem;
}
.media__img img {
  display: block;
  max-width: none;
}
.media__body {
  font-family: "Open Sans";
  width: 100%;
}
.media__body .class__bar {
  align-items: center;
  border-radius: 15px 15px 0 0;
  bottom: -3px;
  display: flex;
  justify-content: center;
  line-height: 1.25;
  min-height: 36px;
  min-width: 165px;
  padding: 5px 20px 3px;
  position: relative;
  text-align: center;
  z-index: 0;
}
.media__body .class__bar::before {
  border-radius: 15px 0 0;
  left: -2px;
  transform: skewX(-17deg);
}
.media__body .class__bar::after {
  border-radius: 0 15px 0 0;
  right: -2px;
  transform: skewX(17deg);
}
.media__body .class__bar::after,
.media__body .class__bar::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 19px;
  z-index: -1;
}
.media--rev .media__img {
  padding-left: 1rem;
  padding-right: 0;
}

.menu {
  cursor: default;
  list-style: none;
  padding: 0.6875rem;
  position: absolute;
  right: 0;
  top: 0;
}
.menu > li {
  cursor: pointer;
  display: inline-block;
  margin-right: 0.625rem;
  vertical-align: middle;
}
.menu > li:last-of-type {
  margin-right: 0;
}
.menu > li a {
  outline: none;
}
.menu > li.menu__settings {
  margin-top: -1px;
}
.menu > li img {
  display: block;
  opacity: 0.6;
}
.menu > li:hover img, .menu > li.menu__item--active img {
  opacity: 1;
}

.section {
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
.section::after {
  clear: both !important;
  content: "" !important;
  display: block !important;
}
.section--s {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}
.section--xs {
  padding-bottom: 0;
  padding-top: 0;
}
.section--full {
  height: 100%;
}
.section--grey-border-top {
  border-top: 1px solid #ccd5de;
}
.section--lead-light {
  background-color: #f3f5f6;
}
.section--red {
  background-color: #db0d15;
}
.section--green, .section--green::before, .section--green::after {
  background-color: #00bf29;
}
.section--red, .section--red::before, .section--red::after {
  background-color: #db0d15;
}
.section--border {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.topbar h3 {
  color: #000;
  font-size: 1.125rem;
  font-weight: 100;
}

.head__name {
  background-color: #e1e5e8;
  padding: 11px 16px;
}
.head__name .logo {
  float: left;
  padding-right: 10px;
}
.head__name .logo img {
  max-width: 24px;
}

.txt--mono {
  font-family: monospace;
}
.txt--xxs {
  font-size: 12px;
}
.txt--xs {
  font-size: 13px;
}
.txt--s {
  font-size: 14px;
}
.txt--m {
  font-size: 16px;
}
.txt--ml {
  font-size: 18px;
}
.txt--l {
  font-size: 22px;
}
.txt--xl {
  font-size: 30px;
}
.txt--lh-s {
  line-height: 1.2;
}
.txt--left {
  text-align: left;
}
.txt--center {
  text-align: center;
}
.txt--right {
  text-align: right;
}
.txt--white {
  color: white;
}
.txt--green {
  color: #00bf29;
}
.txt--lead {
  color: #3d3c40;
}
.txt--lead-dark {
  color: #3d3c40;
}
.txt--gray-light {
  color: #959496;
}
.txt--gray-light-link a {
  color: #959496;
}
.txt--orange {
  color: #f8aa02;
}
.txt--orange-dark {
  color: #f87002;
}
.txt--overall {
  font-size: 14px;
  line-height: 16px;
}
.txt--osans {
  font-family: "Open Sans";
}
.txt--twitter {
  color: #1da1f2;
}
.txt--facebook {
  color: #3b5998;
}
.txt--shadow {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.txt--medium {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}
.txt--semibold {
  font-weight: 600;
}
.txt--m-strong strong {
  font-size: 16px;
}
.txt--lh-medium {
  line-height: 20px;
}
.txt--congrats {
  font-size: 24px;
  padding-bottom: 8px;
}
.txt--truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.txt--dec-none {
  text-decoration: none;
}
.txt-toggler:not(.txt-toggler--active) .txt-toggler__active {
  display: none;
}
.txt-toggler--active .txt-toggler__inactive {
  display: none;
}

.theme-dark {
  background-color: #313940;
  color: #fff;
}
.theme-dark .topbar h3,
.theme-dark .counter-wrapper p,
.theme-dark #subtitle {
  color: #fff;
}
.theme-dark .settings {
  background-color: #313940;
}
.theme-dark .card {
  background-color: #3c4651;
}
.theme-dark .settings-list__item {
  border-bottom: 1px solid #555c64;
}
.theme-dark .section--grey-border-top {
  border-top: 1px solid #555c64;
}
.theme-dark .head__name {
  background-color: #1b2428;
}
.theme-dark .tabs__item {
  background-color: #313940;
  border-color: #555c64;
  color: #fff;
}
.theme-dark .tabs__item--active {
  background-color: #3c4651;
}
.theme-dark .button {
  background-color: #199fff;
  border-color: #199fff;
  color: white;
}
.theme-dark .button:hover {
  background-color: #07c;
  border-color: #07c;
  color: white;
}
.theme-dark .button:active {
  background-color: #246cb8;
  border-color: #246cb8;
  color: white;
}
.theme-dark .button:focus {
  background-color: #199fff;
  border-color: #199fff;
  color: white;
}
.theme-dark .button--ghost {
  background-color: transparent;
  color: #199fff;
}
.theme-dark .button--ghost:hover {
  background-color: transparent;
  color: #07c;
}
.theme-dark .button--ghost:active {
  background-color: transparent;
  color: #246cb8;
}
.theme-dark .button--ghost:focus {
  background-color: transparent;
  color: #199fff;
}
.theme-dark .section--green,
.theme-dark .section--green,
.theme-dark .section--green::before,
.theme-dark .section--green::after {
  background-color: #8cbe78;
  color: #3d3c40;
}
.theme-dark .green-bar-bottom {
  border-color: #8cbe78;
}
.theme-dark .abs-page #btn-back,
.theme-dark .abs-page .check {
  color: #fff;
}
.theme-dark .section #btn-back {
  background-color: transparent;
  color: #199fff;
}
.theme-dark .section #btn-back:active {
  border-color: #246cb8;
  color: #246cb8;
}
.theme-dark .section #btn-back:hover {
  border-color: #07c;
  color: #07c;
}
.theme-dark .section #btn-back:focus {
  border-color: #199fff;
  color: #199fff;
}
.theme-dark .box {
  background-color: transparent;
}
.theme-dark .box .txt--lead {
  color: #fff;
}
.theme-dark .feedback__star {
  stroke: #fff;
}
.theme-dark .feedback__star-selected {
  stroke: #fa3;
}

html {
  background-color: transparent;
  height: 480px;
  min-height: 480px;
  padding: 16px;
  width: 320px;
}

body {
  background-color: transparent;
  color: #3d3c40;
  font-family: Kievit;
  font-size: 16px;
  font-weight: 100;
  height: 480px;
  line-height: 1.5;
  min-height: 480px;
  position: relative;
  width: 320px;
}

.media img {
  vertical-align: middle;
}

.header {
  left: 10px;
  top: 10px;
}
.header__img, .header__text {
  display: inline-block;
  vertical-align: middle;
}

.box {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 14px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding-bottom: 56px;
  position: relative;
}

.sharer-link {
  background-color: #07c;
  border-radius: 2px;
}

@keyframes display {
  from {
    opacity: 0;
  }
}
@keyframes display-translate {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
}
.animate {
  animation-duration: 0.2s;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-name: display;
  opacity: 1;
  transform: translateY(0);
}
.animate--d1 {
  animation-delay: 0.1s;
}
.animate--d2 {
  animation-delay: 0.2s;
}
.animate--d3 {
  animation-delay: 0.3s;
}
.animate--d4 {
  animation-delay: 0.4s;
}
.animate--d5 {
  animation-delay: 0.5s;
}
.animate--d6 {
  animation-delay: 0.6s;
}
.animate--d7 {
  animation-delay: 0.7s;
}

.milestone__medal {
  position: relative;
  z-index: 10;
}
.milestone__medal__text {
  height: 21px;
}
.milestone__ribbon {
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-name: display-translate;
  position: relative;
  z-index: 9;
}
.milestone__confetti {
  left: -170px;
  opacity: 0.1;
  position: absolute;
  top: -85px;
  z-index: -1;
}

.mta {
  margin-top: auto;
}
.mt0 {
  margin-top: 0;
}
.mtxxxs {
  margin-top: 0.1rem;
}
.mtxxs {
  margin-top: 0.25rem;
}
.mtxs {
  margin-top: 0.5rem;
}
.mts {
  margin-top: 0.75rem;
}
.mtm {
  margin-top: 1rem;
}
.mtl {
  margin-top: 2rem;
}
.mtxl {
  margin-top: 3rem;
}
.mba {
  margin-bottom: auto;
}
.mb0 {
  margin-bottom: 0;
}
.mbxxxs {
  margin-bottom: 0.1rem;
}
.mbxxs {
  margin-bottom: 0.25rem;
}
.mbxs {
  margin-bottom: 0.5rem;
}
.mbs {
  margin-bottom: 0.75rem;
}
.mbm {
  margin-bottom: 1rem;
}
.mbl {
  margin-bottom: 2rem;
}
.mbxl {
  margin-bottom: 3rem;
}
.mla {
  margin-left: auto;
}
.ml0 {
  margin-left: 0;
}
.mlxxxs {
  margin-left: 0.1rem;
}
.mlxxs {
  margin-left: 0.25rem;
}
.mlxs {
  margin-left: 0.5rem;
}
.mls {
  margin-left: 0.75rem;
}
.mlm {
  margin-left: 1rem;
}
.mll {
  margin-left: 2rem;
}
.mlxl {
  margin-left: 3rem;
}
.mra {
  margin-right: auto;
}
.mr0 {
  margin-right: 0;
}
.mrxxxs {
  margin-right: 0.1rem;
}
.mrxxs {
  margin-right: 0.25rem;
}
.mrxs {
  margin-right: 0.5rem;
}
.mrs {
  margin-right: 0.75rem;
}
.mrm {
  margin-right: 1rem;
}
.mrl {
  margin-right: 2rem;
}
.mrxl {
  margin-right: 3rem;
}

.pa {
  padding: auto;
}
.p0 {
  padding: 0;
}
.pxxxs {
  padding: 0.1rem;
}
.pxxs {
  padding: 0.25rem;
}
.pxs {
  padding: 0.5rem;
}
.ps {
  padding: 0.75rem;
}
.pm {
  padding: 1rem;
}
.pl {
  padding: 2rem;
}
.pxl {
  padding: 3rem;
}
.pta {
  padding-top: auto;
}
.pt0 {
  padding-top: 0;
}
.ptxxxs {
  padding-top: 0.1rem;
}
.ptxxs {
  padding-top: 0.25rem;
}
.ptxs {
  padding-top: 0.5rem;
}
.pts {
  padding-top: 0.75rem;
}
.ptm {
  padding-top: 1rem;
}
.ptl {
  padding-top: 2rem;
}
.ptxl {
  padding-top: 3rem;
}
.pra {
  padding-right: auto;
}
.pr0 {
  padding-right: 0;
}
.prxxxs {
  padding-right: 0.1rem;
}
.prxxs {
  padding-right: 0.25rem;
}
.prxs {
  padding-right: 0.5rem;
}
.prs {
  padding-right: 0.75rem;
}
.prm {
  padding-right: 1rem;
}
.prl {
  padding-right: 2rem;
}
.prxl {
  padding-right: 3rem;
}
.pba {
  padding-bottom: auto;
}
.pb0 {
  padding-bottom: 0;
}
.pbxxxs {
  padding-bottom: 0.1rem;
}
.pbxxs {
  padding-bottom: 0.25rem;
}
.pbxs {
  padding-bottom: 0.5rem;
}
.pbs {
  padding-bottom: 0.75rem;
}
.pbm {
  padding-bottom: 1rem;
}
.pbl {
  padding-bottom: 2rem;
}
.pbxl {
  padding-bottom: 3rem;
}
.pla {
  padding-left: auto;
}
.pl0 {
  padding-left: 0;
}
.plxxxs {
  padding-left: 0.1rem;
}
.plxxs {
  padding-left: 0.25rem;
}
.plxs {
  padding-left: 0.5rem;
}
.pls {
  padding-left: 0.75rem;
}
.plm {
  padding-left: 1rem;
}
.pll {
  padding-left: 2rem;
}
.plxl {
  padding-left: 3rem;
}

.db {
  display: block;
}
.dib {
  display: inline-block;
}

.posr {
  position: relative;
}
.posa {
  position: absolute;
}
.posfull {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.ovys {
  overflow-y: scroll;
}
.ovyh {
  overflow-y: hidden;
}

.vat {
  vertical-align: top;
}
.vam {
  vertical-align: middle;
}

.pointer {
  cursor: pointer;
}

.colored-link a {
  text-decoration: none;
}
.colored-link--blue a {
  color: #007eff;
}

.bgc--lead-light {
  background-color: #f3f5f6;
}

.wba {
  word-break: break-all;
}