@font-face {
  font-family: Kievit;
  font-weight: 100;
  src: url("fonts/KievitWebPro-Light.woff") format("woff");
}
@font-face {
  font-family: Kievit;
  src: url("fonts/KievitWebPro.woff") format("woff");
}
@font-face {
  font-family: Kievit;
  font-weight: bold;
  src: url("fonts/KievitWebPro-Bold.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/OpenSans-Regular.woff2") format("woff2"), url("fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/OpenSans-SemiBold.woff2") format("woff2"), url("fonts/OpenSans-SemiBold.woff") format("woff");
}
.state-dash.shown + .dash-background {
  background-color: rgba(74, 74, 74, 0.95);
}

.alien + .dash-background {
  transition: none;
}

.dash-container {
  color: #fff;
}

.state-dash.indicators-container,
.state-hidden_bar.indicators-container {
  background-color: rgba(74, 74, 74, 0.95);
}

.indicator-group-center {
  background-color: rgba(74, 74, 74, 0.95);
}

.indicator-groups {
  border-color: #333;
}
.indicator-groups a.active {
  background-color: #222;
  box-shadow: 0 2px rgba(255, 255, 255, 0.03), inset 0 1px rgba(0, 0, 0, 0.13), 0 0 0 1px #090909;
}

.abs-card {
  background-color: #fff;
  color: #555;
  width: 541px;
}
.abs-card h1 {
  color: #000;
  font-size: 187.5%;
}
.abs-card p {
  font-size: 16px;
}
.abs-card .abs-later a {
  color: #777;
}

.big-title {
  color: #fff;
  font-family: KievitWebPro-Light, sans-serif;
  font-size: 325%;
}

.info-text {
  color: #fff;
  font-family: KievitWebPro-Light, sans-serif;
}
.info-text .count {
  font-family: KievitWebPro, sans-serif;
}
.info-text .label {
  font-family: KievitWebPro, sans-serif;
  font-size: 115%;
}

.indicator-group-center {
  background-color: rgba(74, 74, 74, 0.95);
}

#dash_trackers_settings {
  background: #ededed;
  color: #4a4a4a;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}

.blocked-page .url {
  color: #fff;
  font-size: 150%;
}
.blocked-page .url span {
  color: #fff;
  font-family: KievitWebPro-Light, sans-serif;
}

.abs-button {
  background-color: #ebebeb;
  border: 1px solid silver;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, -1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 -1px 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.25) inset, 0 1px 3px rgba(0, 0, 0, 0.2);
  color: #555;
  font-family: KievitWebPro, sans-serif;
  text-shadow: #fff 0 1px 0;
}
.abs-button:hover {
  background-color: #f8f8f8;
}
.abs-button:active {
  background-color: #ebebeb;
}
.abs-button:focus {
  outline: none;
}

.abs-button-primary {
  background-image: linear-gradient(to bottom, #11a600 0%, #0f9200 100%);
  color: #fff;
  text-shadow: black 0 1px 0;
}
.abs-button-primary:hover {
  background-image: linear-gradient(to bottom, #12b000 0%, #12ab00 100%);
}
.abs-button-primary:active {
  background: #0f9200;
}

.abs-button-secondary {
  background-color: #fff;
  color: #4a4a4a;
}

.abs-button-inverted {
  background-color: #555;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
  transition: all 0.2s linear;
}

.abs-button-transparent {
  border-color: #fff;
  color: #fff;
}

.danger #domain-indicator {
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}

@media print {
  html {
    display: none;
  }
}
html.ie img {
  border: 0;
}

html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 100%;
}

body {
  font: 16px/1 KievitWebPro-Light, sans-serif;
  font-weight: 100;
  height: 100%;
  margin: 0;
  padding: 18px;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.cardnav {
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
}

.card-content-container {
  background-color: white;
  border: 1px solid #e1e5e8;
  border-radius: 5px;
}