/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto; }

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute; }

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute; }

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent; }

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6; }

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: 0.9; }

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute; }

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute; }

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #999;
  height: 11px; }

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #999;
  width: 11px; }

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important; } }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, button, textarea, select {
  font-family: Kievit, sans-serif; }

html {
  font-family: Kievit, sans-serif;
  font-size: 16px;
  color: #7e93a7;
  line-height: 20px; }

a {
  color: #007eff;
  text-decoration: none; }

strong {
  font-weight: 500; }

.c-button {
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #219709;
  background-color: #23be04;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
  text-align: center;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  padding: 11px 27px; }
  .c-button:hover {
    background-color: #25c804; }
  .c-button:active {
    background-color: #219709; }
  .c-button:focus {
    outline: none; }
  .c-button--large {
    font-size: 22px;
    padding: 16px 96px; }
  .c-button--small {
    font-size: 16px;
    padding: 4px 12px; }
  .c-button--block {
    padding-left: 16px;
    padding-right: 16px;
    display: block;
    width: 100%; }
  .c-button--transparent {
    border: solid 1px #b2bdc8;
    background: transparent;
    color: #586775; }
    .c-button--transparent:hover {
      background-color: #e6eaec; }
    .c-button--transparent:active {
      background-color: #ccd4dd; }
  .c-button--white {
    border: solid 1px #b2bdc8;
    background-color: #ffffff;
    color: #586775; }
    .c-button--white:hover {
      background-color: #e6eaec; }
    .c-button--white:active {
      background-color: #ccd4dd; }
  .c-button--silver {
    border: solid 1px #7e93a7;
    background-color: #b2bdc8;
    color: #ffffff; }
    .c-button--silver:hover {
      background-color: #7e93a7; }
    .c-button--silver:active {
      background-color: #586775; }
  .c-button--full-height {
    height: 100%; }
  .c-button--red {
    background-color: #e60017;
    border: 1px solid #CC0A20;
    color: #ffffff; }
    .c-button--red:hover {
      background-color: #f00018; }
    .c-button--red:active {
      background-color: #CC0A20; }
  .c-button--blue {
    background-color: #007eff;
    border: 1px solid #1166C5;
    color: #ffffff; }
    .c-button--blue:hover {
      background-color: #1488ff; }
    .c-button--blue:active {
      background-color: #1166C5; }
  .c-button--ghost {
    background-color: white;
    border: 1px solid #02A2F2;
    color: #02A2F2; }
    .c-button--ghost:hover {
      background-color: #f4f6f7; }
    .c-button--ghost:active {
      background-color: #e6eaec; }
  .c-button--orange {
    background-color: #FF8F00;
    border: 1px solid #FF6F00;
    color: #ffffff; }
    .c-button--orange:hover {
      background-color: #FCAF28; }
    .c-button--orange:active {
      background-color: #FF6F00; }
  .c-button--loading {
    position: relative;
    color: transparent !important; }
    .c-button--loading:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 20px;
      height: 20px;
      padding-right: 2px;
      padding-top: 2px;
      border-top: solid 2px #ffffff;
      border-left: solid 2px #ffffff;
      border-radius: 50%;
      opacity: 1;
      transition: opacity 0.2s;
      animation: spin 2s linear infinite; }
  .c-button--google {
    background-color: #fff;
    border: solid 1px #e6eaec;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 8px 12px; }
    .c-button--google:hover, .c-button--google:active {
      background-color: #f6f6f6; }
  .c-button--facebook {
    background-color: #3C5A99;
    border: 1px solid #29487d;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 8px 12px; }
    .c-button--facebook:hover, .c-button--facebook:active {
      background-color: #324b80; }
  .c-button[disabled], .c-button--disabled {
    background-color: #ccd4dd;
    border-color: #b2bdc8;
    color: #7e93a7;
    cursor: not-allowed; }
    .c-button[disabled]:hover, .c-button--disabled:hover {
      background-color: #ccd4dd; }
    .c-button[disabled]:before, .c-button--disabled:before {
      border-color: #7e93a7; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

.c-check {
  display: inline-block;
  position: relative; }
  .c-check input {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  .c-check__label {
    display: block;
    position: relative;
    padding-left: 26px;
    white-space: nowrap; }
  .c-check__box {
    height: 18px;
    width: 18px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAkCAYAAABv2tHkAAAB5UlEQVRIie3UzWsTQRjH8e+znexLdlq7u0nT1EtBTPHcgxf9O7yKd/8YD56aHvVi9KDgPYrSnkJFhAoVKmhofCkkxIRkd8dDQ2BJgom5CPY5zsx++M3sMyPVvb088AC4A6wyf3WAJ8B9lcvlHlYqlbulUgml1NxCHMerZ63WvY/Hx5YcHhwMyuVyboEEmWo2m0P5dHJiFkkwJRHWMgCAUgprKWFUl8glMhciIksBIoLluu5wGcRx3aG1HgSPfK1ZNJGI4GtNEASPMcbkjTH7xpiOWaw6o+/yar9aBUgBs+BOxuv/55dNa83a2lpmTCnF3ILneawHASJCnCT86nbHc3O1vW3bhFE07iVRdmZ+Asn7Pp7nZeJGhSKWdbH07LzD87fvZyOu6xKEIWEUYds2lmURFYootQJAu9vnxZt33N7ZzCCZM3F9jSUCIkSFIkkSY9sXf78/iKnVG9za2cQeoVOTPHt9RLvbH21jBcdxAEjSlFq9we52hO9MtlQGuXltg1q9QX8Qj8dSY3j66ojrG5pQuxPABOI7OXa3I2r1BkmaAvDy8AMlrdgK/KkAgHw+PZ24eF/Pu3xpDyhc0fS7HW5cDWcCMONl2wp8Akf4/uPnHwERQb61WoNer/fXF9D1vH/oZfsNT64VdzGQHJIAAAAASUVORK5CYII=") no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 0; }
  input:checked + .c-check__label > .c-check__box {
    background-position: 0 -18px; }

.c-menu {
  cursor: default;
  list-style: none;
  padding: 16px;
  position: absolute;
  right: 0;
  top: 0; }
  .c-menu > li {
    margin-left: 4px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer; }
    .c-menu > li a {
      outline: none; }
    .c-menu > li.c-menu__settings {
      margin-top: -1px; }
    .c-menu > li img {
      display: block;
      opacity: 0.6; }
    .c-menu > li:hover img, .c-menu > li.c-menu__item--active img {
      opacity: 1; }
    .c-menu > li:first-child {
      margin-left: 0; }

.c-setting {
  position: relative;
  display: block;
  line-height: 20px;
  display: flex; }
  .c-setting__title {
    vertical-align: middle;
    flex-grow: 1; }
    .c-setting__title a {
      text-decoration: none;
      color: #586775; }
  .c-setting input {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
    margin: 0;
    top: -1px;
    right: -1px; }
  .c-setting__switch {
    width: 40px;
    height: 20px;
    border: solid 1px #ccd4dd;
    border-radius: 10px;
    background-color: white;
    box-shadow: inset 0 1px 2px rgba(204, 212, 221, 0.3);
    position: relative;
    vertical-align: middle;
    flex-shrink: 0;
    cursor: pointer; }
    .c-setting__switch::before {
      content: '';
      position: absolute;
      top: 1px;
      left: 1px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #ccd4dd;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
      transition: left 0.1s ease-out, background 0.1s ease-out; }
    .c-setting__switch::after {
      content: '';
      position: absolute;
      top: 6px;
      left: 5px;
      width: 8px;
      height: 4px;
      border-bottom: solid 1px #ccd4dd;
      border-left: solid 1px #ccd4dd;
      transform: rotate(-40deg);
      transition: left 0.1s ease-out, border-color 0.1s ease-out; }
  input:checked ~ .c-setting__switch::before {
    background-color: #219709;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
    left: 21px; }
  input:checked ~ .c-setting__switch::after {
    left: 25px;
    border-color: white; }
  .c-setting__arrow {
    margin: auto;
    cursor: pointer;
    border: none;
    outline: none; }
    .c-setting__arrow:before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-top: solid 2px #ccd4dd;
      border-right: solid 2px #ccd4dd;
      transform: translateY(-50%) rotate(45deg);
      position: absolute;
      right: 5px;
      top: 50%; }

.c-input {
  outline: none;
  border: solid 1px #ccd4dd;
  border-radius: 4px;
  background-color: #f4f6f7;
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  transition: border-color 0.2s, background-color 0.2s;
  padding: 8px 16px;
  height: auto !important; }
  .c-input:focus, .c-input--focus {
    border-color: #007eff; }
  .c-input--password[type="text"] {
    font-family: sans-serif !important;
    font-weight: lighter; }
    .c-input--password[type="text"]::placeholder {
      font-family: Kievit, sans-serif !important;
      font-weight: inherit; }
    .c-input--password[type="text"]::-webkit-input-placeholder {
      font-family: Kievit, sans-serif !important;
      font-weight: inherit; }
    .c-input--password[type="text"]::-moz-placeholder {
      font-family: Kievit, sans-serif !important;
      font-weight: inherit; }
  .c-input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #f4f6f7 inset; }
    .c-input:-webkit-autofill:focus {
      box-shadow: 0 0 0px 1000px #f8fbff inset; }
  .c-input::-webkit-input-placeholder {
    color: #b2bdc8; }
  .c-input::-moz-placeholder {
    color: #b2bdc8; }
  .c-input--l {
    font-size: 18px;
    line-height: 22px;
    padding-top: 12px;
    padding-bottom: 12px; }
  .c-input--red:focus {
    border-color: #e60017;
    background-color: #fef8f8; }
  .c-input--focus.c-input--red {
    border-color: #e60017;
    background-color: #fef8f8; }

.c-input-range {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  margin: 6px 0; }
  .c-input-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #e6eaec;
    border-radius: 2px;
    border: 0px solid #000000; }
  .c-input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -6px;
    background: #007eff;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer; }
  .c-input-range::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #e6eaec;
    border-radius: 2px;
    border: 0px solid #000000; }
  .c-input-range::-moz-range-thumb {
    background: #007eff;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer; }
  .c-input-range:focus {
    outline: none; }
    .c-input-range:focus::-webkit-slider-runnable-track {
      background: #e6eaec; }
  .c-input-range::-moz-focus-outer {
    border: 0; }

.c-password-strength {
  position: relative;
  font-family: Kievit; }
  .c-password-strength__feedback-list:empty {
    display: none; }
  .c-password-strength__bar-container {
    background-color: #ccd4dd;
    height: 4px;
    border-radius: 2px;
    overflow: hidden; }
  .c-password-strength__bar {
    height: 4px;
    border-radius: 2px;
    transition: .4s; }
  .c-password-strength__rating {
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    top: 8px;
    font-weight: 500; }
  .c-password-strength__feedback {
    width: 100%;
    border-radius: 2px;
    background-color: #e6eaec;
    position: absolute; }
    .c-password-strength__feedback-list {
      padding: 4px 8px 4px 24px;
      list-style: disc outside;
      color: #7e93a7; }
      .c-password-strength__feedback-list > li {
        font-size: 16px;
        margin-bottom: 4px; }
        .c-password-strength__feedback-list > li > div {
          font-size: 14px;
          line-height: 16px;
          margin-left: -4px; }

.c-password-strength[data-strength="0"] .c-password-strength__bar, [data-strength="0"] .c-password-strength__bar {
  min-width: 2%;
  width: 0%;
  background-color: #E30B23; }

.c-password-strength[data-strength="0"] .c-password-strength__rating, [data-strength="0"] .c-password-strength__rating {
  color: #E30B23; }

.c-password-strength[data-strength="0"].c-password-strength__bgc, [data-strength="0"].c-password-strength__bgc {
  background-color: #E30B23;
  border-top-color: #E30B23; }

.c-password-strength[data-strength="0"].c-password-strength__color, [data-strength="0"].c-password-strength__color {
  color: #E30B23; }

.c-password-strength[data-strength="1"] .c-password-strength__bar, [data-strength="1"] .c-password-strength__bar {
  min-width: 2%;
  width: 25%;
  background-color: #E30B23; }

.c-password-strength[data-strength="1"] .c-password-strength__rating, [data-strength="1"] .c-password-strength__rating {
  color: #E30B23; }

.c-password-strength[data-strength="1"].c-password-strength__bgc, [data-strength="1"].c-password-strength__bgc {
  background-color: #E30B23;
  border-top-color: #E30B23; }

.c-password-strength[data-strength="1"].c-password-strength__color, [data-strength="1"].c-password-strength__color {
  color: #E30B23; }

.c-password-strength[data-strength="2"] .c-password-strength__bar, [data-strength="2"] .c-password-strength__bar {
  min-width: 2%;
  width: 50%;
  background-color: #EF6C1F; }

.c-password-strength[data-strength="2"] .c-password-strength__rating, [data-strength="2"] .c-password-strength__rating {
  color: #EF6C1F; }

.c-password-strength[data-strength="2"].c-password-strength__bgc, [data-strength="2"].c-password-strength__bgc {
  background-color: #EF6C1F;
  border-top-color: #EF6C1F; }

.c-password-strength[data-strength="2"].c-password-strength__color, [data-strength="2"].c-password-strength__color {
  color: #EF6C1F; }

.c-password-strength[data-strength="3"] .c-password-strength__bar, [data-strength="3"] .c-password-strength__bar {
  min-width: 2%;
  width: 75%;
  background-color: #3AAFB8; }

.c-password-strength[data-strength="3"] .c-password-strength__rating, [data-strength="3"] .c-password-strength__rating {
  color: #3AAFB8; }

.c-password-strength[data-strength="3"].c-password-strength__bgc, [data-strength="3"].c-password-strength__bgc {
  background-color: #3AAFB8;
  border-top-color: #3AAFB8; }

.c-password-strength[data-strength="3"].c-password-strength__color, [data-strength="3"].c-password-strength__color {
  color: #3AAFB8; }

.c-password-strength[data-strength="4"] .c-password-strength__bar, [data-strength="4"] .c-password-strength__bar {
  min-width: 2%;
  width: 100%;
  background-color: #3AB29B; }

.c-password-strength[data-strength="4"] .c-password-strength__rating, [data-strength="4"] .c-password-strength__rating {
  color: #3AB29B; }

.c-password-strength[data-strength="4"].c-password-strength__bgc, [data-strength="4"].c-password-strength__bgc {
  background-color: #3AB29B;
  border-top-color: #3AB29B; }

.c-password-strength[data-strength="4"].c-password-strength__color, [data-strength="4"].c-password-strength__color {
  color: #3AB29B; }

.c-bubble {
  position: relative;
  background-color: #007eff;
  padding: 8px 12px;
  border-radius: 4px;
  color: white; }
  .c-bubble:before {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 16px;
    display: block;
    width: 12px;
    height: 12px;
    background-color: #007eff;
    transform: rotate(45deg); }
  .c-bubble--red {
    background-color: #e60017; }
    .c-bubble--red:before {
      background-color: #e60017; }
  .c-bubble a {
    color: inherit;
    text-decoration: underline; }
    .c-bubble a:hover {
      text-decoration: none; }

.c-loading-spinner {
  position: relative;
  color: transparent !important;
  width: 20px;
  height: 20px;
  margin: auto; }
  .c-loading-spinner:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    padding-right: 2px;
    padding-top: 2px;
    border-top: solid 2px #b2bdc8;
    border-left: solid 2px #b2bdc8;
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.2s;
    animation: spin 2s linear infinite; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

.o-input-group {
  position: relative; }
  .o-input-group__feedback {
    position: absolute;
    bottom: calc(100% + 12px);
    right: 0; }
  .o-input-group__icon {
    position: absolute;
    z-index: 1;
    right: 8px;
    top: 50%;
    transform: translateY(-50%); }
    .o-input-group__icon > img {
      display: block; }
    .o-input-group__icon + input {
      padding-right: 36px; }

.o-media {
  display: table; }
  .o-media__img, .o-media__body {
    display: table-cell;
    vertical-align: top; }
  .o-media__img {
    padding-right: 1rem; }
    .o-media__img img {
      display: block;
      max-width: none; }
  .o-media__body {
    width: 100%; }
  .o-media--wrap .o-media__body {
    width: auto; }
  .o-media--middle .o-media__img, .o-media--middle .o-media__body {
    vertical-align: middle; }
  .o-media--bottom .o-media__img, .o-media--bottom .o-media__body {
    vertical-align: bottom; }
  .o-media--baseline .o-media__img, .o-media--baseline .o-media__body {
    vertical-align: baseline; }
  .o-media--rev .o-media__img {
    padding-right: 0;
    padding-left: 1rem; }
  .o-media--s .o-media__img {
    padding-right: 0.5rem; }

.o-section {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px; }
  .o-section:after {
    content: '' !important;
    clear: both !important;
    display: block !important; }
  .o-section--xl {
    padding-top: 28px;
    padding-bottom: 28px; }
  .o-section--s {
    padding-top: 12px;
    padding-bottom: 12px; }
  .o-section--xs {
    padding-top: 8px;
    padding-bottom: 8px; }
  .o-section--flush {
    padding-right: 0;
    padding-left: 0; }
  .o-section--full {
    height: 100%; }
  .o-section--gainsboro {
    background-color: #e6eaec; }
  .o-section--lightgrey {
    background-color: #ccd4dd; }
  .o-section--red {
    background-color: #e60017; }
  .o-section--green {
    background-color: #219709; }
  .o-section--border {
    box-shadow: inset 0px 0px 0px 1px rgba(88, 103, 117, 0.1); }

.o-grid {
  display: flex;
  margin-left: -16px; }
  .o-grid__col {
    flex: 1;
    padding-left: 16px; }
  .o-grid--full {
    flex: 1; }
  .o-grid--s {
    margin-left: -8px; }
    .o-grid--s .o-grid__col {
      padding-left: 8px; }
  .o-grid--col {
    flex-direction: column; }
    @media screen and (min-width: 1024px) {
      .o-grid--col\@desktop {
        flex-direction: column; } }
    @media screen and (max-width: 1023px) {
      .o-grid--col\@tablet {
        flex-direction: column; } }
    @media screen and (max-width: 768px) {
      .o-grid--col\@medium {
        flex-direction: column; } }
    @media screen and (max-width: 480px) {
      .o-grid--col\@small {
        flex-direction: column; } }

.o-grid__col--1 {
  flex: 0 0 8.33333%; }

.o-grid__col--2 {
  flex: 0 0 16.66667%; }

.o-grid__col--3 {
  flex: 0 0 25%; }

.o-grid__col--4 {
  flex: 0 0 33.33333%; }

.o-grid__col--5 {
  flex: 0 0 41.66667%; }

.o-grid__col--6 {
  flex: 0 0 50%; }

.o-grid__col--7 {
  flex: 0 0 58.33333%; }

.o-grid__col--8 {
  flex: 0 0 66.66667%; }

.o-grid__col--9 {
  flex: 0 0 75%; }

.o-grid__col--10 {
  flex: 0 0 83.33333%; }

.o-grid__col--11 {
  flex: 0 0 91.66667%; }

.o-grid__col--12 {
  flex: 0 0 100%; }

@media screen and (min-width: 1024px) {
  .o-grid__col--1\@desktop {
    flex: 0 0 8.33333%; }
  .o-grid__col--2\@desktop {
    flex: 0 0 16.66667%; }
  .o-grid__col--3\@desktop {
    flex: 0 0 25%; }
  .o-grid__col--4\@desktop {
    flex: 0 0 33.33333%; }
  .o-grid__col--5\@desktop {
    flex: 0 0 41.66667%; }
  .o-grid__col--6\@desktop {
    flex: 0 0 50%; }
  .o-grid__col--7\@desktop {
    flex: 0 0 58.33333%; }
  .o-grid__col--8\@desktop {
    flex: 0 0 66.66667%; }
  .o-grid__col--9\@desktop {
    flex: 0 0 75%; }
  .o-grid__col--10\@desktop {
    flex: 0 0 83.33333%; }
  .o-grid__col--11\@desktop {
    flex: 0 0 91.66667%; }
  .o-grid__col--12\@desktop {
    flex: 0 0 100%; } }

@media screen and (max-width: 1023px) {
  .o-grid__col--1\@tablet {
    flex: 0 0 8.33333%; }
  .o-grid__col--2\@tablet {
    flex: 0 0 16.66667%; }
  .o-grid__col--3\@tablet {
    flex: 0 0 25%; }
  .o-grid__col--4\@tablet {
    flex: 0 0 33.33333%; }
  .o-grid__col--5\@tablet {
    flex: 0 0 41.66667%; }
  .o-grid__col--6\@tablet {
    flex: 0 0 50%; }
  .o-grid__col--7\@tablet {
    flex: 0 0 58.33333%; }
  .o-grid__col--8\@tablet {
    flex: 0 0 66.66667%; }
  .o-grid__col--9\@tablet {
    flex: 0 0 75%; }
  .o-grid__col--10\@tablet {
    flex: 0 0 83.33333%; }
  .o-grid__col--11\@tablet {
    flex: 0 0 91.66667%; }
  .o-grid__col--12\@tablet {
    flex: 0 0 100%; } }

@media screen and (max-width: 768px) {
  .o-grid__col--1\@medium {
    flex: 0 0 8.33333%; }
  .o-grid__col--2\@medium {
    flex: 0 0 16.66667%; }
  .o-grid__col--3\@medium {
    flex: 0 0 25%; }
  .o-grid__col--4\@medium {
    flex: 0 0 33.33333%; }
  .o-grid__col--5\@medium {
    flex: 0 0 41.66667%; }
  .o-grid__col--6\@medium {
    flex: 0 0 50%; }
  .o-grid__col--7\@medium {
    flex: 0 0 58.33333%; }
  .o-grid__col--8\@medium {
    flex: 0 0 66.66667%; }
  .o-grid__col--9\@medium {
    flex: 0 0 75%; }
  .o-grid__col--10\@medium {
    flex: 0 0 83.33333%; }
  .o-grid__col--11\@medium {
    flex: 0 0 91.66667%; }
  .o-grid__col--12\@medium {
    flex: 0 0 100%; } }

@media screen and (max-width: 480px) {
  .o-grid__col--1\@small {
    flex: 0 0 8.33333%; }
  .o-grid__col--2\@small {
    flex: 0 0 16.66667%; }
  .o-grid__col--3\@small {
    flex: 0 0 25%; }
  .o-grid__col--4\@small {
    flex: 0 0 33.33333%; }
  .o-grid__col--5\@small {
    flex: 0 0 41.66667%; }
  .o-grid__col--6\@small {
    flex: 0 0 50%; }
  .o-grid__col--7\@small {
    flex: 0 0 58.33333%; }
  .o-grid__col--8\@small {
    flex: 0 0 66.66667%; }
  .o-grid__col--9\@small {
    flex: 0 0 75%; }
  .o-grid__col--10\@small {
    flex: 0 0 83.33333%; }
  .o-grid__col--11\@small {
    flex: 0 0 91.66667%; }
  .o-grid__col--12\@small {
    flex: 0 0 100%; } }

.u-flex {
  display: flex; }
  .u-flex--col {
    flex-direction: column; }
  .u-flex--c {
    justify-content: center; }
  .u-flex--sb {
    justify-content: space-between; }
  .u-flex--g1 {
    flex-grow: 1; }

.u-fx {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex; }
  .u-fx-1 {
    flex: 1; }
  .u-fx-d-r {
    flex-direction: row; }
  .u-fx-d-rr {
    flex-direction: row-reverse; }
  .u-fx-d-c {
    flex-direction: column; }
  .u-fx-d-cr {
    flex-direction: column-reverse; }
  .u-fx-jc-c {
    justify-content: center; }
  .u-fx-jc-e {
    justify-content: flex-end; }
  .u-fx-jc-s {
    justify-content: flex-start; }
  .u-fx-jc-sa {
    justify-content: space-around; }
  .u-fx-jc-sb {
    justify-content: space-between; }
  .u-fx-ai-s {
    align-items: flex-start; }
  .u-fx-ai-e {
    align-items: flex-end; }
  .u-fx-ai-c {
    align-items: center; }
  .u-fx-ai-b {
    align-items: baseline; }
  .u-fx-ai-s {
    align-items: stretch; }
  .u-fx-g-0 {
    flex-grow: 0; }
  .u-fx-g-1 {
    flex-grow: 1; }
  .u-fx-g-1.5 {
    flex-grow: 1.5; }
  .u-fx-g-2 {
    flex-grow: 2; }
  .u-fx-s-0 {
    flex-shrink: 0; }
  .u-fx-s-1 {
    flex-shrink: 1; }
  .u-fx-b-0 {
    flex-basis: 0; }
  .u-fx-as-fe {
    align-self: flex-end; }
  .u-fx-w {
    flex-wrap: wrap; }

@font-face {
  font-family: Kievit;
  src: url("fonts/KievitCompPro-Light.woff2") format("woff2"), url("fonts/KievitCompPro-Light.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: Kievit;
  src: url("fonts/KievitCompPro.woff2") format("woff2"), url("fonts/KievitCompPro.woff") format("woff");
  font-weight: 500; }

@font-face {
  font-family: Kievit;
  src: url("fonts/KievitCompPro-Bold.woff2") format("woff2"), url("fonts/KievitCompPro-Bold.woff") format("woff");
  font-weight: 700; }

.u-txt-bourgeois {
  font-size: 12px;
  line-height: 16px; }

.u-txt-longprimer {
  font-size: 14px;
  line-height: 20px; }

.u-txt-pica {
  font-size: 16px;
  line-height: 20px; }

.u-txt-english {
  font-size: 18px;
  line-height: 24px; }

.u-txt-greatprimer {
  font-size: 22px;
  line-height: 28px; }

.u-txt-paragon {
  font-size: 27px;
  line-height: 36px; }

.u-txt-shadow {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); }

.u-txt-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.u-txt-upper {
  text-transform: uppercase; }

.u-txt-lower {
  text-transform: lowercase; }

.u-txt-capital::first-letter {
  text-transform: uppercase; }

.u-txt-right {
  text-align: right; }

.u-txt-center {
  text-align: center; }

.u-txt-left {
  text-align: left; }

.u-txt-italic {
  font-style: italic; }

.u-txt-strong {
  font-weight: 500; }

.u-txt-default-font {
  font-family: sans-serif; }

.u-txt-underline {
  text-decoration: underline; }

.u-m-a {
  margin: auto; }

.u-m-xxs {
  margin: 4px; }

.u-m-xs {
  margin: 8px; }

.u-m-s {
  margin: 12px; }

.u-m-m {
  margin: 16px; }

.u-m-l {
  margin: 20px; }

.u-m-xl {
  margin: 28px; }

.u-m-xxl {
  margin: 36px; }

.u-m-xxxl {
  margin: 48px; }

.u-mt-a {
  margin-top: auto; }

.u-mt-xxs {
  margin-top: 4px; }

.u-mt-xs {
  margin-top: 8px; }

.u-mt-s {
  margin-top: 12px; }

.u-mt-m {
  margin-top: 16px; }

.u-mt-l {
  margin-top: 20px; }

.u-mt-xl {
  margin-top: 28px; }

.u-mt-xxl {
  margin-top: 36px; }

.u-mt-xxxl {
  margin-top: 48px; }

.u-mb-a {
  margin-bottom: auto; }

.u-mb-xxs {
  margin-bottom: 4px; }

.u-mb-xs {
  margin-bottom: 8px; }

.u-mb-s {
  margin-bottom: 12px; }

.u-mb-m {
  margin-bottom: 16px; }

.u-mb-l {
  margin-bottom: 20px; }

.u-mb-xl {
  margin-bottom: 28px; }

.u-mb-xxl {
  margin-bottom: 36px; }

.u-mb-xxxl {
  margin-bottom: 48px; }

.u-ml-a {
  margin-left: auto; }

.u-ml-xxs {
  margin-left: 4px; }

.u-ml-xs {
  margin-left: 8px; }

.u-ml-s {
  margin-left: 12px; }

.u-ml-m {
  margin-left: 16px; }

.u-ml-l {
  margin-left: 20px; }

.u-ml-xl {
  margin-left: 28px; }

.u-ml-xxl {
  margin-left: 36px; }

.u-ml-xxxl {
  margin-left: 48px; }

.u-mr-a {
  margin-right: auto; }

.u-mr-xxs {
  margin-right: 4px; }

.u-mr-xs {
  margin-right: 8px; }

.u-mr-s {
  margin-right: 12px; }

.u-mr-m {
  margin-right: 16px; }

.u-mr-l {
  margin-right: 20px; }

.u-mr-xl {
  margin-right: 28px; }

.u-mr-xxl {
  margin-right: 36px; }

.u-mr-xxxl {
  margin-right: 48px; }

.u-p-a {
  padding: auto; }

.u-p-xxs {
  padding: 4px; }

.u-p-xs {
  padding: 8px; }

.u-p-s {
  padding: 12px; }

.u-p-m {
  padding: 16px; }

.u-p-l {
  padding: 20px; }

.u-p-xl {
  padding: 28px; }

.u-p-xxl {
  padding: 36px; }

.u-p-xxxl {
  padding: 48px; }

.u-pt-a {
  padding-top: auto; }

.u-pt-xxs {
  padding-top: 4px; }

.u-pt-xs {
  padding-top: 8px; }

.u-pt-s {
  padding-top: 12px; }

.u-pt-m {
  padding-top: 16px; }

.u-pt-l {
  padding-top: 20px; }

.u-pt-xl {
  padding-top: 28px; }

.u-pt-xxl {
  padding-top: 36px; }

.u-pt-xxxl {
  padding-top: 48px; }

.u-pb-a {
  padding-bottom: auto; }

.u-pb-xxs {
  padding-bottom: 4px; }

.u-pb-xs {
  padding-bottom: 8px; }

.u-pb-s {
  padding-bottom: 12px; }

.u-pb-m {
  padding-bottom: 16px; }

.u-pb-l {
  padding-bottom: 20px; }

.u-pb-xl {
  padding-bottom: 28px; }

.u-pb-xxl {
  padding-bottom: 36px; }

.u-pb-xxxl {
  padding-bottom: 48px; }

.u-pl-a {
  padding-left: auto; }

.u-pl-xxs {
  padding-left: 4px; }

.u-pl-xs {
  padding-left: 8px; }

.u-pl-s {
  padding-left: 12px; }

.u-pl-m {
  padding-left: 16px; }

.u-pl-l {
  padding-left: 20px; }

.u-pl-xl {
  padding-left: 28px; }

.u-pl-xxl {
  padding-left: 36px; }

.u-pl-xxxl {
  padding-left: 48px; }

.u-pr-a {
  padding-right: auto; }

.u-pr-xxs {
  padding-right: 4px; }

.u-pr-xs {
  padding-right: 8px; }

.u-pr-s {
  padding-right: 12px; }

.u-pr-m {
  padding-right: 16px; }

.u-pr-l {
  padding-right: 20px; }

.u-pr-xl {
  padding-right: 28px; }

.u-pr-xxl {
  padding-right: 36px; }

.u-pr-xxxl {
  padding-right: 48px; }

.u-pos-r {
  position: relative; }

.u-pos-a {
  position: absolute; }

.u-pos-full {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.u-d-b {
  display: block; }

.u-d-ib {
  display: inline-block; }

.u-d-n {
  display: none; }

@media screen and (max-width: 768px) {
  .u-d-n\/m {
    display: none; } }

@media screen and (max-width: 480px) {
  .u-d-n\/s {
    display: none; } }

.u-v-h {
  visibility: hidden; }

.u-ovy-s {
  overflow-y: scroll; }

.u-ovy-h {
  overflow-y: hidden; }

.u-ovy-a {
  overflow-y: auto; }

.u-va-t {
  vertical-align: top; }

.u-va-m {
  vertical-align: middle; }

.u-va-tt {
  vertical-align: text-top; }

.u-bs-s {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); }

.u-bs-m {
  box-shadow: 0 1px 9px 4px rgba(0, 0, 0, 0.15); }

.u-cursor-p {
  cursor: pointer; }

.u-height-full {
  height: 100%; }

.u-height-0 {
  height: 0; }

.u-minheight-full {
  min-height: 100%; }

.u-minheight-0 {
  min-height: 0; }

.u-maxheight-full {
  max-height: 100%; }

.u-width-full {
  width: 100%; }

.u-shadow-s {
  box-shadow: 0 1px 9px 4px rgba(0, 0, 0, 0.15); }

.u-outline-none {
  outline: none; }

.u-fake-label {
  line-height: 0;
  visibility: hidden;
  height: 0; }

.u-color-black {
  color: #000000; }

.u-bg-black {
  background-color: #000000; }

.u-color-slategrey {
  color: #586775; }

.u-bg-slategrey {
  background-color: #586775; }

.u-color-lightslategrey {
  color: #7e93a7; }

.u-bg-lightslategrey {
  background-color: #7e93a7; }

.u-color-silver {
  color: #b2bdc8; }

.u-bg-silver {
  background-color: #b2bdc8; }

.u-color-lightgrey {
  color: #ccd4dd; }

.u-bg-lightgrey {
  background-color: #ccd4dd; }

.u-color-gainsboro {
  color: #e6eaec; }

.u-bg-gainsboro {
  background-color: #e6eaec; }

.u-color-smokegrey {
  color: #f4f6f7; }

.u-bg-smokegrey {
  background-color: #f4f6f7; }

.u-color-royalblue {
  color: #007eff; }

.u-bg-royalblue {
  background-color: #007eff; }

.u-color-darkroyalblue {
  color: #1166C5; }

.u-bg-darkroyalblue {
  background-color: #1166C5; }

.u-color-lightskyblue {
  color: #93c2fa; }

.u-bg-lightskyblue {
  background-color: #93c2fa; }

.u-color-red {
  color: #e60017; }

.u-bg-red {
  background-color: #e60017; }

.u-color-darkorange {
  color: #f26c00; }

.u-bg-darkorange {
  background-color: #f26c00; }

.u-color-orange {
  color: #EF6C1F; }

.u-bg-orange {
  background-color: #EF6C1F; }

.u-color-green {
  color: #219709; }

.u-bg-green {
  background-color: #219709; }

.u-color-limegreen {
  color: #23be04; }

.u-bg-limegreen {
  background-color: #23be04; }

.u-color-white {
  color: #ffffff; }

.u-bg-white {
  background-color: #ffffff; }

.u-color-transparent {
  color: rgba(0, 0, 0, 0); }

.u-bg-transparent {
  background-color: rgba(0, 0, 0, 0); }

.u-w-1of12 {
  width: 8.33333%; }

.u-w-2of12 {
  width: 16.66667%; }

.u-w-3of12 {
  width: 25%; }

.u-w-4of12 {
  width: 33.33333%; }

.u-w-5of12 {
  width: 41.66667%; }

.u-w-6of12 {
  width: 50%; }

.u-w-7of12 {
  width: 58.33333%; }

.u-w-8of12 {
  width: 66.66667%; }

.u-w-9of12 {
  width: 75%; }

.u-w-10of12 {
  width: 83.33333%; }

.u-w-11of12 {
  width: 91.66667%; }

.u-w-12of12 {
  width: 100%; }

@media screen and (min-width: 1024px) {
  .u-w-1of12\@desktop {
    width: 8.33333%; }
  .u-w-2of12\@desktop {
    width: 16.66667%; }
  .u-w-3of12\@desktop {
    width: 25%; }
  .u-w-4of12\@desktop {
    width: 33.33333%; }
  .u-w-5of12\@desktop {
    width: 41.66667%; }
  .u-w-6of12\@desktop {
    width: 50%; }
  .u-w-7of12\@desktop {
    width: 58.33333%; }
  .u-w-8of12\@desktop {
    width: 66.66667%; }
  .u-w-9of12\@desktop {
    width: 75%; }
  .u-w-10of12\@desktop {
    width: 83.33333%; }
  .u-w-11of12\@desktop {
    width: 91.66667%; }
  .u-w-12of12\@desktop {
    width: 100%; } }

@media screen and (max-width: 1023px) {
  .u-w-1of12\@tablet {
    width: 8.33333%; }
  .u-w-2of12\@tablet {
    width: 16.66667%; }
  .u-w-3of12\@tablet {
    width: 25%; }
  .u-w-4of12\@tablet {
    width: 33.33333%; }
  .u-w-5of12\@tablet {
    width: 41.66667%; }
  .u-w-6of12\@tablet {
    width: 50%; }
  .u-w-7of12\@tablet {
    width: 58.33333%; }
  .u-w-8of12\@tablet {
    width: 66.66667%; }
  .u-w-9of12\@tablet {
    width: 75%; }
  .u-w-10of12\@tablet {
    width: 83.33333%; }
  .u-w-11of12\@tablet {
    width: 91.66667%; }
  .u-w-12of12\@tablet {
    width: 100%; } }

@media screen and (max-width: 768px) {
  .u-w-1of12\@medium {
    width: 8.33333%; }
  .u-w-2of12\@medium {
    width: 16.66667%; }
  .u-w-3of12\@medium {
    width: 25%; }
  .u-w-4of12\@medium {
    width: 33.33333%; }
  .u-w-5of12\@medium {
    width: 41.66667%; }
  .u-w-6of12\@medium {
    width: 50%; }
  .u-w-7of12\@medium {
    width: 58.33333%; }
  .u-w-8of12\@medium {
    width: 66.66667%; }
  .u-w-9of12\@medium {
    width: 75%; }
  .u-w-10of12\@medium {
    width: 83.33333%; }
  .u-w-11of12\@medium {
    width: 91.66667%; }
  .u-w-12of12\@medium {
    width: 100%; } }

@media screen and (max-width: 480px) {
  .u-w-1of12\@small {
    width: 8.33333%; }
  .u-w-2of12\@small {
    width: 16.66667%; }
  .u-w-3of12\@small {
    width: 25%; }
  .u-w-4of12\@small {
    width: 33.33333%; }
  .u-w-5of12\@small {
    width: 41.66667%; }
  .u-w-6of12\@small {
    width: 50%; }
  .u-w-7of12\@small {
    width: 58.33333%; }
  .u-w-8of12\@small {
    width: 66.66667%; }
  .u-w-9of12\@small {
    width: 75%; }
  .u-w-10of12\@small {
    width: 83.33333%; }
  .u-w-11of12\@small {
    width: 91.66667%; }
  .u-w-12of12\@small {
    width: 100%; } }

#register-form .c-password-strength, #create-master-password-form .c-password-strength {
  margin-top: -8px;
  visibility: hidden; }

.c-register-form__legal a {
  color: inherit;
  text-decoration: underline; }
  .c-register-form__legal a:hover {
    text-decoration: none; }

.verify-master-password-form__hint {
  box-shadow: inset 0px 0px 0px 1px #007eff; }

.c-welcome-view__content {
  z-index: 1;
  position: relative;
  margin-top: 258px; }

.c-welcome-view__animation {
  height: 554px;
  animation-fill-mode: both;
  animation-duration: 0.79167s;
  animation-timing-function: steps(19);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: url("//__MSG_@@extension_id__/images/rocket.png") top center no-repeat;
  background-size: 336px 11080px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .c-welcome-view__animation {
      background-image: url("//__MSG_@@extension_id__/images/rocket@2x.png"); } }
  .c-welcome-view__animation--running {
    animation-name: rocket; }

@keyframes rocket {
  from {
    background-position-y: 0; }
  to {
    background-position-y: -10526px; } }

body {
  padding: 0 10px 10px; }

header:empty, footer:empty {
  display: none; }

#header {
  z-index: 99;
  position: relative; }

#menu {
  z-index: 100;
  position: relative; }

.product-title {
  font-size: 18px; }
  .product-title span {
    color: #586775;
    font-size: 22px; }
  .product-title .product-title-beta {
    font-size: 18px;
    color: #7e93a7; }

#panel {
  position: relative;
  border: 1px solid #b2bdc8;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(5, 5, 5, 0.3);
  background-color: #ffffff; }
  #panel.panel-type-form {
    border-radius: 1px; }

.c-account-list {
  position: relative; }
  .c-account-list--fixed {
    height: 260px; }
  .c-account-list__item:hover {
    background-color: #f4f6f7; }

#slider {
  line-height: 120%;
  position: relative; }
  #slider__frame {
    height: 142px;
    width: 220px;
    margin: 0 auto;
    animation-fill-mode: both;
    animation-duration: 0.83333s;
    animation-timing-function: steps(20);
    background-position: top left;
    background-size: 660px auto;
    background-repeat: no-repeat;
    background-image: url("//__MSG_@@extension_id__/images/ftu-animation/anim.png"); }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      #slider__frame {
        background-image: url("//__MSG_@@extension_id__/images/ftu-animation/anim@2x.png"); } }
    #slider__frame.anim-0-1, #slider__frame.anim-1-0 {
      background-position-x: left; }
    #slider__frame.anim-1-2, #slider__frame.anim-2-1 {
      background-position-x: center; }
    #slider__frame.anim-0-2, #slider__frame.anim-2-0 {
      background-position-x: right; }
    #slider__frame.anim-0-1 {
      animation-name: ftu-0-1; }
    #slider__frame.anim-1-0 {
      animation-name: ftu-1-0; }
    #slider__frame.anim-1-2 {
      animation-name: ftu-1-2; }
    #slider__frame.anim-2-1 {
      animation-name: ftu-2-1; }
    #slider__frame.anim-0-2 {
      animation-name: ftu-0-2; }
    #slider__frame.anim-2-0 {
      animation-name: ftu-2-0; }
  #slider__arrows {
    position: absolute;
    top: 63px;
    width: 100%; }
    #slider__arrows-left, #slider__arrows-right {
      cursor: pointer;
      width: 16px;
      height: 16px;
      border: solid #b2bdc8;
      border-width: 1px 1px 0 0;
      position: absolute;
      transition: border-color .1s; }
      #slider__arrows-left:hover, #slider__arrows-right:hover {
        border-color: #000000; }
    #slider__arrows-left {
      transform: rotate(-135deg);
      left: 4px; }
    #slider__arrows-right {
      transform: rotate(45deg);
      right: 4px; }
  #slider__bullets {
    user-select: none;
    text-align: center; }
    #slider__bullets li {
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 6px;
      margin: 0 1.5px;
      background: #586775;
      cursor: pointer;
      transition: background-color .15s; }
      #slider__bullets li.active {
        background: #007eff; }
  #slider__titles li {
    display: none; }
    #slider__titles li.active {
      display: block; }

@keyframes ftu-0-1 {
  from {
    background-position-y: 0; }
  to {
    background-position-y: -2840px; } }

@keyframes ftu-1-0 {
  from {
    background-position-y: -2840px; }
  to {
    background-position-y: 0; } }

@keyframes ftu-1-2 {
  from {
    background-position-y: 0; }
  to {
    background-position-y: -2840px; } }

@keyframes ftu-2-1 {
  from {
    background-position-y: -2840px; }
  to {
    background-position-y: 0; } }

@keyframes ftu-0-2 {
  from {
    background-position-y: 0; }
  to {
    background-position-y: -2840px; } }

@keyframes ftu-2-0 {
  from {
    background-position-y: -2840px; }
  to {
    background-position-y: 0; } }

.settings {
  height: 100%;
  font-size: 15px;
  background: #ffffff; }
  .settings__back-button {
    margin: auto;
    width: 38px;
    height: 38px;
    cursor: pointer;
    outline: none;
    display: block;
    position: relative;
    border: 1px solid #e6eaec;
    border-radius: 4px; }
    .settings__back-button:before {
      content: '';
      display: block;
      top: 14px;
      left: 15px;
      width: 10px;
      height: 10px;
      position: absolute;
      border-left: solid 2px #586775;
      border-bottom: solid 2px #586775;
      transform: rotate(45deg); }

.c-setting .off {
  display: none; }

input:checked + .c-setting__title .on {
  display: none; }

input:checked + .c-setting__title .off {
  display: block; }

.o-tooltip {
  font-size: 14px;
  display: inline-block;
  -webkit-user-select: none;
  user-select: none; }
  .o-tooltip__trigger {
    position: relative; }
    .o-tooltip__trigger:before {
      position: absolute;
      display: none;
      width: 10px;
      height: 10px;
      top: -15px;
      right: 50%;
      margin-right: -4px;
      background-color: #007eff;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
      content: '';
      transform: rotate(45deg); }
  .o-tooltip__icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-bottom: -2px;
    background: url("/images/info-badge.png");
    cursor: pointer; }
  .o-tooltip .c-bubble {
    position: absolute;
    display: none;
    width: 240px;
    left: 48px;
    bottom: 28px; }
    .o-tooltip .c-bubble:before {
      display: none; }
  .o-tooltip:hover .o-tooltip__trigger:before,
  .o-tooltip:hover .c-bubble {
    display: block; }
  .o-tooltip--right .c-bubble {
    left: auto;
    right: 0; }

.tooltip {
  z-index: 20;
  position: fixed;
  display: block;
  width: 160px;
  font-size: pica;
  z-index: 20; }
  .tooltip:before {
    z-index: 21;
    position: absolute;
    right: 18px;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    border-left: solid 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    content: '';
    transform: rotate(45deg); }
  .tooltip__content {
    position: relative;
    border-radius: 3px;
    color: black;
    background-color: white; }
  .tooltip--bottom:before {
    bottom: auto;
    top: -4px; }
  .tooltip--right:before {
    right: auto;
    left: 18px; }
  .tooltip--s {
    width: auto; }
  .tooltip--list .tooltip__item {
    text-align: left;
    color: inherit;
    text-decoration: inherit;
    padding: 0.75rem;
    border-left: solid 1px rgba(0, 0, 0, 0.2);
    border-right: solid 1px rgba(0, 0, 0, 0.2);
    display: block; }
    .tooltip--list .tooltip__item:first-child {
      border-top: solid 1px rgba(0, 0, 0, 0.2); }
    .tooltip--list .tooltip__item:last-child {
      border-bottom: solid 1px rgba(0, 0, 0, 0.2); }
