.u-color-black {
  color: #000000; }

.u-bg-black {
  background-color: #000000; }

.u-color-slategrey {
  color: #586775; }

.u-bg-slategrey {
  background-color: #586775; }

.u-color-lightslategrey {
  color: #7e93a7; }

.u-bg-lightslategrey {
  background-color: #7e93a7; }

.u-color-silver {
  color: #b2bdc8; }

.u-bg-silver {
  background-color: #b2bdc8; }

.u-color-lightgrey {
  color: #ccd4dd; }

.u-bg-lightgrey {
  background-color: #ccd4dd; }

.u-color-gainsboro {
  color: #e6eaec; }

.u-bg-gainsboro {
  background-color: #e6eaec; }

.u-color-smokegrey {
  color: #f4f6f7; }

.u-bg-smokegrey {
  background-color: #f4f6f7; }

.u-color-royalblue {
  color: #007eff; }

.u-bg-royalblue {
  background-color: #007eff; }

.u-color-darkroyalblue {
  color: #1166C5; }

.u-bg-darkroyalblue {
  background-color: #1166C5; }

.u-color-lightskyblue {
  color: #93c2fa; }

.u-bg-lightskyblue {
  background-color: #93c2fa; }

.u-color-red {
  color: #e60017; }

.u-bg-red {
  background-color: #e60017; }

.u-color-darkorange {
  color: #f26c00; }

.u-bg-darkorange {
  background-color: #f26c00; }

.u-color-orange {
  color: #EF6C1F; }

.u-bg-orange {
  background-color: #EF6C1F; }

.u-color-green {
  color: #219709; }

.u-bg-green {
  background-color: #219709; }

.u-color-limegreen {
  color: #23be04; }

.u-bg-limegreen {
  background-color: #23be04; }

.u-color-white {
  color: #ffffff; }

.u-bg-white {
  background-color: #ffffff; }

.u-color-transparent {
  color: rgba(0, 0, 0, 0); }

.u-bg-transparent {
  background-color: rgba(0, 0, 0, 0); }

.u-flex {
  display: flex; }
  .u-flex--col {
    flex-direction: column; }
  .u-flex--c {
    justify-content: center; }
  .u-flex--sb {
    justify-content: space-between; }
  .u-flex--g1 {
    flex-grow: 1; }

.u-fx {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex; }
  .u-fx-1 {
    flex: 1; }
  .u-fx-d-r {
    flex-direction: row; }
  .u-fx-d-rr {
    flex-direction: row-reverse; }
  .u-fx-d-c {
    flex-direction: column; }
  .u-fx-d-cr {
    flex-direction: column-reverse; }
  .u-fx-jc-c {
    justify-content: center; }
  .u-fx-jc-e {
    justify-content: flex-end; }
  .u-fx-jc-s {
    justify-content: flex-start; }
  .u-fx-jc-sa {
    justify-content: space-around; }
  .u-fx-jc-sb {
    justify-content: space-between; }
  .u-fx-ai-s {
    align-items: flex-start; }
  .u-fx-ai-e {
    align-items: flex-end; }
  .u-fx-ai-c {
    align-items: center; }
  .u-fx-ai-b {
    align-items: baseline; }
  .u-fx-ai-s {
    align-items: stretch; }
  .u-fx-g-0 {
    flex-grow: 0; }
  .u-fx-g-1 {
    flex-grow: 1; }
  .u-fx-g-1.5 {
    flex-grow: 1.5; }
  .u-fx-g-2 {
    flex-grow: 2; }
  .u-fx-s-0 {
    flex-shrink: 0; }
  .u-fx-s-1 {
    flex-shrink: 1; }
  .u-fx-b-0 {
    flex-basis: 0; }
  .u-fx-as-fe {
    align-self: flex-end; }
  .u-fx-w {
    flex-wrap: wrap; }

.u-m-a {
  margin: auto; }

.u-m-xxs {
  margin: 4px; }

.u-m-xs {
  margin: 8px; }

.u-m-s {
  margin: 12px; }

.u-m-m {
  margin: 16px; }

.u-m-l {
  margin: 20px; }

.u-m-xl {
  margin: 28px; }

.u-m-xxl {
  margin: 36px; }

.u-m-xxxl {
  margin: 48px; }

.u-mt-a {
  margin-top: auto; }

.u-mt-xxs {
  margin-top: 4px; }

.u-mt-xs {
  margin-top: 8px; }

.u-mt-s {
  margin-top: 12px; }

.u-mt-m {
  margin-top: 16px; }

.u-mt-l {
  margin-top: 20px; }

.u-mt-xl {
  margin-top: 28px; }

.u-mt-xxl {
  margin-top: 36px; }

.u-mt-xxxl {
  margin-top: 48px; }

.u-mb-a {
  margin-bottom: auto; }

.u-mb-xxs {
  margin-bottom: 4px; }

.u-mb-xs {
  margin-bottom: 8px; }

.u-mb-s {
  margin-bottom: 12px; }

.u-mb-m {
  margin-bottom: 16px; }

.u-mb-l {
  margin-bottom: 20px; }

.u-mb-xl {
  margin-bottom: 28px; }

.u-mb-xxl {
  margin-bottom: 36px; }

.u-mb-xxxl {
  margin-bottom: 48px; }

.u-ml-a {
  margin-left: auto; }

.u-ml-xxs {
  margin-left: 4px; }

.u-ml-xs {
  margin-left: 8px; }

.u-ml-s {
  margin-left: 12px; }

.u-ml-m {
  margin-left: 16px; }

.u-ml-l {
  margin-left: 20px; }

.u-ml-xl {
  margin-left: 28px; }

.u-ml-xxl {
  margin-left: 36px; }

.u-ml-xxxl {
  margin-left: 48px; }

.u-mr-a {
  margin-right: auto; }

.u-mr-xxs {
  margin-right: 4px; }

.u-mr-xs {
  margin-right: 8px; }

.u-mr-s {
  margin-right: 12px; }

.u-mr-m {
  margin-right: 16px; }

.u-mr-l {
  margin-right: 20px; }

.u-mr-xl {
  margin-right: 28px; }

.u-mr-xxl {
  margin-right: 36px; }

.u-mr-xxxl {
  margin-right: 48px; }

.u-p-a {
  padding: auto; }

.u-p-xxs {
  padding: 4px; }

.u-p-xs {
  padding: 8px; }

.u-p-s {
  padding: 12px; }

.u-p-m {
  padding: 16px; }

.u-p-l {
  padding: 20px; }

.u-p-xl {
  padding: 28px; }

.u-p-xxl {
  padding: 36px; }

.u-p-xxxl {
  padding: 48px; }

.u-pt-a {
  padding-top: auto; }

.u-pt-xxs {
  padding-top: 4px; }

.u-pt-xs {
  padding-top: 8px; }

.u-pt-s {
  padding-top: 12px; }

.u-pt-m {
  padding-top: 16px; }

.u-pt-l {
  padding-top: 20px; }

.u-pt-xl {
  padding-top: 28px; }

.u-pt-xxl {
  padding-top: 36px; }

.u-pt-xxxl {
  padding-top: 48px; }

.u-pb-a {
  padding-bottom: auto; }

.u-pb-xxs {
  padding-bottom: 4px; }

.u-pb-xs {
  padding-bottom: 8px; }

.u-pb-s {
  padding-bottom: 12px; }

.u-pb-m {
  padding-bottom: 16px; }

.u-pb-l {
  padding-bottom: 20px; }

.u-pb-xl {
  padding-bottom: 28px; }

.u-pb-xxl {
  padding-bottom: 36px; }

.u-pb-xxxl {
  padding-bottom: 48px; }

.u-pl-a {
  padding-left: auto; }

.u-pl-xxs {
  padding-left: 4px; }

.u-pl-xs {
  padding-left: 8px; }

.u-pl-s {
  padding-left: 12px; }

.u-pl-m {
  padding-left: 16px; }

.u-pl-l {
  padding-left: 20px; }

.u-pl-xl {
  padding-left: 28px; }

.u-pl-xxl {
  padding-left: 36px; }

.u-pl-xxxl {
  padding-left: 48px; }

.u-pr-a {
  padding-right: auto; }

.u-pr-xxs {
  padding-right: 4px; }

.u-pr-xs {
  padding-right: 8px; }

.u-pr-s {
  padding-right: 12px; }

.u-pr-m {
  padding-right: 16px; }

.u-pr-l {
  padding-right: 20px; }

.u-pr-xl {
  padding-right: 28px; }

.u-pr-xxl {
  padding-right: 36px; }

.u-pr-xxxl {
  padding-right: 48px; }

.u-txt-bourgeois {
  font-size: 12px;
  line-height: 16px; }

.u-txt-longprimer {
  font-size: 14px;
  line-height: 20px; }

.u-txt-pica {
  font-size: 16px;
  line-height: 20px; }

.u-txt-english {
  font-size: 18px;
  line-height: 24px; }

.u-txt-greatprimer {
  font-size: 22px;
  line-height: 28px; }

.u-txt-paragon {
  font-size: 27px;
  line-height: 36px; }

.u-txt-shadow {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); }

.u-txt-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.u-txt-upper {
  text-transform: uppercase; }

.u-txt-lower {
  text-transform: lowercase; }

.u-txt-capital::first-letter {
  text-transform: uppercase; }

.u-txt-right {
  text-align: right; }

.u-txt-center {
  text-align: center; }

.u-txt-left {
  text-align: left; }

.u-txt-italic {
  font-style: italic; }

.u-txt-strong {
  font-weight: 500; }

.u-txt-default-font {
  font-family: sans-serif; }

.u-txt-underline {
  text-decoration: underline; }

.u-pos-r {
  position: relative; }

.u-pos-a {
  position: absolute; }

.u-pos-full {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.u-d-b {
  display: block; }

.u-d-ib {
  display: inline-block; }

.u-d-n {
  display: none; }

@media screen and (max-width: 768px) {
  .u-d-n\/m {
    display: none; } }

@media screen and (max-width: 480px) {
  .u-d-n\/s {
    display: none; } }

.u-v-h {
  visibility: hidden; }

.u-ovy-s {
  overflow-y: scroll; }

.u-ovy-h {
  overflow-y: hidden; }

.u-ovy-a {
  overflow-y: auto; }

.u-va-t {
  vertical-align: top; }

.u-va-m {
  vertical-align: middle; }

.u-va-tt {
  vertical-align: text-top; }

.u-bs-s {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); }

.u-bs-m {
  box-shadow: 0 1px 9px 4px rgba(0, 0, 0, 0.15); }

.u-cursor-p {
  cursor: pointer; }

.u-height-full {
  height: 100%; }

.u-height-0 {
  height: 0; }

.u-minheight-full {
  min-height: 100%; }

.u-minheight-0 {
  min-height: 0; }

.u-maxheight-full {
  max-height: 100%; }

.u-width-full {
  width: 100%; }

.u-shadow-s {
  box-shadow: 0 1px 9px 4px rgba(0, 0, 0, 0.15); }

.u-outline-none {
  outline: none; }

.u-fake-label {
  line-height: 0;
  visibility: hidden;
  height: 0; }
