#midblock {
  overflow: visible;
}

.__avira__search_block {
  left: 0 !important;
  top: 3px;
  display: contents !important;
}
.__avira__search_block + a {
  margin-left: 20px;
}

.PartialSearchResults-container .PartialSearchResults-item-title,
.PartialSearchResults-container .PartialSearchResults-item {
  overflow: visible !important;
}

.results-wrapper #links .__avira__search_block {
  left: 0;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.result__title {
  overflow: visible !important;
}

.__avira__search_block + a div {
  margin-left: inherit;
}

.__avira__search_block ~ div {
  margin-left: 20px;
}

.__avira__search_block {
  top: 1px !important;
}

.compTitle .__avira__search_block {
  left: 0 !important;
  top: 28px !important;
}

div.compTitle.options-toggle > h3 {
  position: initial !important;
}

.compTitle h3 a {
  margin-left: 19px;
}

.results-wrapper #searchResults .__avira__search_block {
  left: 0;
  margin-bottom: 2px;
  margin-right: 5px;
  position: relative;
}

#eMM .__avira__search_block {
  background-size: 25% 75%;
  left: 0;
  top: 0px !important;
}
#eMM .__avira__search_block + a {
  margin-left: 20px;
}

.search-find .searchResults li,
.search-web .searchResults li {
  overflow: visible !important;
}

*:hover > .__avira__search_block_icon {
  opacity: 1;
}

.__avira__search_block {
  display: inline-block !important;
  height: 20px;
  left: -25px;
  position: absolute;
  width: 15px;
}

.__avira__search_block_icon {
  background-position: 80% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 75%;
  cursor: default;
  height: 20px;
  opacity: 0.5;
  transition: opacity 0.4s;
  vertical-align: middle;
  width: 15px;
}

div#results {
  z-index: 4;
}

div#web {
  overflow: visible;
}

.__avira__safetip {
  display: none !important;
  left: 30px;
  line-height: 1.5;
  max-width: 260px;
  min-width: 130px;
  position: absolute;
  top: -10px;
}

.__avira__safetip::before,
.__avira__safetip::after {
  background: #fff;
  content: "";
  height: 10px;
  left: -5px;
  margin-top: -5px;
  position: absolute;
  top: 20px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 10px;
}

.__avira__safetip::before {
  z-index: 11;
}

.__avira__safetip::after {
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 9;
}

.__avira__safetip-content {
  background: #fff;
  border-radius: 4px;
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.3);
  height: 100%;
  padding: 10px 15px 13px;
  position: relative;
  width: max-content;
  z-index: 10;
}

.__avira__safetip-close {
  color: #9d9d9d;
  cursor: pointer;
  font-size: 18px !important;
  font-weight: 700;
  position: absolute;
  right: 15px;
  text-decoration: none;
  top: 7px;
}

.__avira__safetip-close:hover {
  text-decoration: none !important;
}

.__avira__safetip-title {
  color: #333;
  font-size: 14px !important;
  font-weight: 700;
  padding-bottom: 8px;
}

.__avira__safetip-description {
  color: #9d9d9d;
  font-size: 12px !important;
  max-width: 230px;
  min-width: 120px;
  white-space: normal;
  width: max-content;
}

.__avira__safetip-copy {
  color: #c8c8c8;
  font-size: 11px !important;
  padding-top: 11px;
  text-align: right;
}
.__avira__safetip-copy span {
  font-size: inherit !important;
}
.__avira__safetip-copy span::before {
  background-size: 100%;
  content: "";
  display: inline-block;
  height: 16px;
  margin: 0 6px -3px 3px;
  width: 16px;
}

.__avira__show_tooltip > .__avira__safetip {
  display: block !important;
}
.__avira__show_tooltip > .__avira__safetip div {
  display: block !important;
}

.__avira__search_block_icon {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/serp_info_safe.svg");
}
.__avira__info-danger .__avira__search_block_icon {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/serp_info_unsafe.svg");
}
.__avira__info-warning .__avira__search_block_icon {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/serp_info_warning.svg");
}

.__avira__safetip-copy span:before {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/logo-avira-antivirus.png");
}